html {
  font-size: 62.5%;
}

#img-article {
  background: url("../img/top.jpg") center no-repeat;
  background-size: cover;
  width: 74rem;
  height: 41.9rem;
  margin: 0 auto;
}

article {
  display: block;
  width: 100%;
}

main {
  width: 74rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

main a {
  text-decoration: none;
}

main h1 {
  font-family: "Lato", serif;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.07;
  text-align: left;
  color: #0b213b;
  margin: 2rem 0 1.3rem 0;
}

main .author {
  font-family: "Lato", serif;
  margin: 0;
  color: #747474;
  font-style: italic;
  font-size: 1.3rem;
}

main .author-name {
  color: #c52e30;
}

main .date {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  margin: 0.3rem 0 2rem 0;
  color: #747474;
  font-style: normal;
}

main .date a {
  text-decoration: none;
  color: #747474;
}

.txt-courant {
  margin: 0;
  font-family: "Crimson Text";
  font-size: 2.2rem;
  text-align: left;
  color: #2e2e2e;
  line-height: 1.5;
}

figure {
  margin: 2rem 0;
}

figcaption {
  font-family: Lato;
  font-size: 1.1rem;
  line-height: 2;
  text-align: left;
  color: #747474;
}

.special-element {
  display: flex;
  margin: 2rem 0 4rem 2.5rem;
}

blockquote {
  margin: 0 2rem;
}

blockquote p {
  font-size: 2.4rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.23;
  letter-spacing: 0.02rem;
  text-align: left;
  color: #0b213b;
  width: 55rem;
  margin: 0;
}

#rectangle1 {
  width: 0.5rem;
  height: 14rem;
  background-color: #c52e30;
}

#rectangle2 {
  width: 0.5rem;
  height: 6rem;
  background-color: #c52e30;
}

cite {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2;
  color: #747474;
  margin: 0;
}

main h2 {
  font-family: "Lato", serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
  color: #0b213b;
  margin: 2rem 0 1.5rem 0;
}

.txt-courant a {
  font-style: italic;
  color: #c52e30;
  text-decoration: underline;
}

#tags {
  margin: 2rem 0 0 0;
}

.article-tag {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  line-height: 2.18;
  text-align: center;
  color: #0b213b;
  float: left;
  padding: 0.5rem 1.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 1rem 0 0;
}

.separator {
  width: 100%;
  height: 0.1rem;
  background-color: #e1e1e1;
  margin: 10rem 0 3rem 0;
  display: block;
}

.comments-container {
  margin-top: 3rem;
}

.comments-title {
  margin: 0 2rem;
}

.comments-title h3 {
  margin: 0;
}

.comments {
  height: 3rem;
}

.comments-author {
  font-family: "Lato", serif;
  margin: 0;
  font-style: italic;
  font-size: 1.6rem;
  color: #0b213b;
}

.author-commentimg {
  float: left;
}
.author-commentimg img {
  border-radius: 50%;
}

.comment-description {
  margin: 0 0 0 8.5rem;
}

.comment-description .date {
  margin: 0 0 1rem 0;
}

.comment-content {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  color: #2e2e2e;
  margin: 0;
}

.comment-separator {
  width: 100%;
  height: 0.1rem;
  background-color: #e1e1e1;
  margin: 3rem 0 3rem 0;
}

.cta {
  width: 20.1rem;
  margin: 3.5rem auto;
}

.cta p {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  color: #0b213b;
  padding: 1rem 0;
  border: solid 0.1rem #0b213b;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.cta:hover,
.cta p:hover {
  background-color: #0b213b;
  color: #fff;
}

footer p {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #333;
}
