
#img-article {
  background-image: url('../img/top.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width : 100% ;
  height : 320px ;
  margin : 0 auto;
}

article {
  display: block;
  width : 100%;
  padding: 0 20px;
}

main  {
	width: 100%;
  display : flex;
  justify-content: center;
  align-items: center;
  margin : auto;
}

main a {
  text-decoration: none;
}


main h1 {
  font-family: 'Lato', serif;
	font-size: 45px;
	font-weight: 600;
	line-height: 1.07;
	text-align: left;
	color: #0b213b;
  margin : 20px 0 13px 0;
}

main .author {
  font-family: 'Lato', serif;
  margin : 0px;
  color : #979797;
  font-style: italic;
  font-size : 13px;
}

main .author-name {
  color: #e6373a;
}


main .date {
  font-size : 14px;
  font-family: 'Lato', sans-serif;
  margin : 3px 0px 20px 0px;
  color : #979797;
  font-style :normal;
}

main .date a {
  text-decoration: none;
    color : #979797;
}

.txt-courant {
  margin : 0px;
  font-family: 'Crimson Text';
  font-size: 22px;
  text-align: left;
  color: #2e2e2e;
  line-height: 1.5;
}

figure {
  margin : 20px 0px;
}

figure img {
   width : 100%;
   height : auto;
}

figcaption {
  font-family: Lato;
  font-size: 11px;
  line-height: 2.0;
  text-align: left;
  color: #979797;
}


.special-element{
  display: flex;
}

blockquote {
  width: 100%;
  margin : 0px;
}

blockquote p {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.23;
  letter-spacing: 0.2px;
  text-align: left;
  color: #0b213b;
  width : 100%;
  margin : 0px;
}


cite {
  font-size: 16px;
  font-weight: normal;
  line-height: 2.0;
  color: #979797;
  margin : 0px;
}

main h2 {
  font-family: 'Lato', serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.13;
	text-align: left;
	color: #0b213b;
  margin : 20px 0px 15px 0px;
}

.txt-courant a {
  font-style: italic;
  color: #e6373a;
  text-decoration: underline;
}


#tags {
  margin : 20px 0 0 0;
  height : 50px;
}

.article-tag {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  line-height: 2.18;
  text-align: center;
  color: #0b213b;
  float:left;
  padding : 5px 18px;
  background-color: rgba(0,0,0,.05);
  margin : 0 10px 10px 0;
}


.separator {
  width : 100%;
  height : 1px;
  background-color : #E1E1E1;
  margin: 100px 0 30px 0;
  display: block;
}

.comments-container {
  margin-top : 30px;
}

.comments-title {
  margin : 0px 20px;
  }

  .comments-title h3 {
      margin : 0px;
    }

  .comments {
    height: 30px;
  }

  .comments-author {
    font-family: 'Lato', serif;
    margin : 0px;
    font-style: italic;
    font-size : 16px;
    color : #0B213B;
  }

  .author-commentimg {
    float : left;
  }
  .author-commentimg img {
    border-radius: 50%;
  }

  .comment-description {
    margin : 0 0 0 85px;
  }

  .comment-description .date {
    margin : 0 0 10px 0;
  }

  .comment-content {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
    text-align: left;
    color: #2e2e2e;
    margin : 0px;
  }


  .comment-separator {
    width : 100%;
    height : 1px;
    background-color : #E1E1E1;
    margin: 30px 0 30px 0;
  }

.cta {
  width : 201px;
  margin : 35px auto;
}

.cta p {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #0b213b;
  padding : 10px 0;
  border: solid 1px #0b213b;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition : all 1s ease-out 0s;
}

.cta:hover, .cta p:hover{
  background-color : #0b213b;
  color : #fff;
}

footer p{
  text-align: center;
}
